.github/
.gitignore
.nox/**
.pytest_cache/**
.ruff_cache/**
.venv/**
.vscode-test/**
.vscode/**
.yarnrc
**/__pycache__/**
**/.eslintrc.json
**/*.egg-info/**
**/*.pyc
**/*.ts
**/requirements.in
**/requirements.txt
**/tool/_debug_server.py
**/tsconfig.json
bundled/libs/*.dist-info/**
bundled/libs/bin/**
node_modules/**
noxfile.py
out/**
package_dist/**
src/**
vsc-extension-quickstart.md
webpack.config.js
